#include ".Xresources.d/solarized"

/* urxvt */
urxvt.scrollBar:		false
urxvt.font:			    xft:Tamsyn:normal:pixelsize=18:antialias=true

urxv.perl-ext-common:		resize-font
urxvt.resize-font.smaller:	C-Down
urxvt.resize-font.bigger:	C-Up
urxvt.iso14755:			false
urxvt.iso14755_52:		false

/* rofi */
rofi.terminal:			    urxvt
rofi.columns:			    1
rofi.eh:			        1
rofi.padding:			    400
rofi.fullscreen:		    true
rofi.opacity:			    85
rofi.bw:			        0
rofi.sidebar-mode:		    false
rofi.separator-stle:	    none
rofi.hide-scrollbar:	    true
rofi.color-enabled:		    true
rofi.line-margin:		    5

rofi.color-normal: S_base03, S_base0, S_base03, S_base03, S_cyan
rofi.color-urgent: S_base03, S_base0, S_base03, S_base03, S_cyan
rofi.color-active: S_base03, S_base0, S_base03, S_base03, S_cyan
rofi.color-window: S_base03, S_base0, S_base03, S_base03, S_cyan
